<mat-form-field appearance="fill" [formGroup] = "registerForm">
    <mat-label>Choose Role</mat-label>
    <mat-select formControlName="role" required>
        <mat-option value="Project Manager">Project Manager</mat-option>
        <mat-option value="Team Lead">Team Lead</mat-option>
        <mat-option value="Developer">Developer</mat-option>
        <mat-option value="Designer">Designer</mat-option>
    </mat-select>
    <mat-error 
    *ngIf="registerForm.get('role')!.hasError('required')">
    Role is <strong>required</strong>
    </mat-error>
</mat-form-field>


