.card {
    width: 50vh;
    margin: 0 auto;
    text-align: center;  
    img{
      height: 20vh;
    }
    .mat-form-field{
      display: block;
  }
  .button{
    margin-right: 10px;
  }


  
  }


