<div class="container"> 
    <mat-card class="card">
        <form [formGroup] = "registerForm" (ngSubmit)="onSubmit(registerForm.value)"> 
        <mat-card-title>Register Form</mat-card-title>
            <mat-card-subtitle>Please Fill in your Details</mat-card-subtitle>
            <img mat-card-image src="../../assets/bug-group.svg" alt="Photo of Bugs">            
            <mat-card-content>
                <input-name [registerForm]="registerForm"></input-name>
                <input-role [registerForm]="registerForm"></input-role>
                <input-email [registerForm]="registerForm"></input-email>
                <input-password [registerForm]="registerForm"></input-password>
        </mat-card-content>
        <mat-card-actions >
            <button-demo class='button'></button-demo>
            <button-submit ></button-submit>
        </mat-card-actions >
        <a routerLink='/login'>Already Registerd? Login Here</a>
        <p>Value: {{registerForm.value | json}}</p>    
    </form>  
    </mat-card>
</div>