<mat-form-field appearance="fill" [formGroup] = "loginForm">
    <mat-label>Enter your password</mat-label>
    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="loginForm.get('password')!.hasError('required')">
        Please type in the <strong>Password</strong> you registered
    </mat-error>

</mat-form-field>